---
layout: archive
permalink: /portfolio/
author_profile: true
---

{% include base_path %}


{% for post in site.portfolio %}
{% include archive-single.html %}
{% endfor %}

<html>
<style>
  .container {
    align-items: center;
    float: left;
  }

  .image {
    float: left;
    padding: 5px;
  }
</style>

<body>
  <div class="container">
    <div class="image">
      <img src="/images/2M5A4390 Large.jpeg" alt="Description of Image 1" width="300" height="200">
    </div>
    <div class="image">
      <img src="/images/2M5A4600 Large.jpeg" alt="Description of Image 1" width="300" height="200">
    </div>
    <div class="image">
      <img src="/images/2M5A4522 Large.jpeg" alt="Description of Image 2" width="300" height="200">
    </div>
    <div class="image">
      <img src="/images/2M5A3879 Large.jpeg" alt="Description of Image 1" width="300" height="200">
    </div>
    <div class="image">
      <img src="/images/2M5A3912 Large.jpeg" alt="Description of Image 1" width="300" height="200">
    </div>
    <div class="image">
      <img src="/images/2M5A4544 Large.jpeg" alt="Description of Image 2" width="300" height="200">
    </div>
    <div class="image">
      <img src="/images/2M5A4583 Large.jpeg" alt="Description of Image 2" width="300" height="200">
    </div>
    <div class="image">
      <img src="/images/2M5A3971 Large.jpeg" alt="Description of Image 2" width="300" height="200">
    </div>
    <div class="image">
      <img src="/images/2M5A3600 Large.jpeg" alt="Description of Image 1" width="300" height="200">
    </div>
    <div class="image">
      <img src="/images/2M5A6780 Large.jpeg" alt="Description of Image 1" width="300" height="200">
    </div>
    <div class="image">
      <img src="/images/2M5A6798 Large.jpeg" alt="Description of Image 1" width="300" height="200">
    </div>
    <div class="image">
      <img src="/images/2M5A6810 Large.jpeg" alt="Description of Image 1" width="300" height="200">
    </div>
  </div>
</body>

</html>