---
layout: archive
permalink: /portfolio/
author_profile: true
---

{% include base_path %}


{% for post in site.portfolio %}
{% include archive-single.html %}
{% endfor %}

<html>
<style>
  .container {
    align-items: center;
    float: left;
  }

  .image {
    float: left;
    padding: 5px;
  }
</style>

<body>
  <div class="container">
    <div class="image">
      <img src="/images/2M5A4390.jpg" alt="Description of Image 1" width="300" height="200">
    </div>
    <div class="image">
      <img src="/images/2M5A3600.jpg" alt="Description of Image 1" width="300" height="200">
    </div>
    <div class="image">
      <img src="/images/2M5A4522.jpg" alt="Description of Image 2" width="300" height="200">
    </div>
    <div class="image">
      <img src="/images/2M5A3879.jpg" alt="Description of Image 1" width="300" height="200">
    </div>
    <div class="image">
      <img src="/images/2M5A3912.jpg" alt="Description of Image 1" width="300" height="200">
    </div>
    <div class="image">
      <img src="/images/2M5A4544.jpg" alt="Description of Image 2" width="300" height="200">
    </div>
    <div class="image">
      <img src="/images/2M5A4583.jpg" alt="Description of Image 2" width="300" height="200">
    </div>
    <div class="image">
      <img src="/images/2M5A3971.jpg" alt="Description of Image 2" width="300" height="200">
    </div>
  </div>
</body>

</html>